{% extends 'base.html' %}

{% block title %}
Catalog | Moby Reviews
{% endblock title %}

{% block nav-type %}nav-bar-normal{% endblock nav-type %}

{% block custom-nav %}
    {% if user_logged %} 
        nav-login-hide
    {% else %}
        nav-account-hide
    {% endif %}
{% endblock custom-nav %}

{% block home-active %}{% endblock home-active %}

{% block catalog-active %}active-tab{% endblock catalog-active %}

{% block body %}
<div class="row details-content-margin">
    <div class="row w-100 container-margin-top">
        <!-- <h2 class="mt-5 mb-5 font-weight-light"> <span class="font-weight-bold">Search results for </span>
                    Harry Potter </h2>  -->
        <h2 class="mt-5 font-weight-light"> All Movies </h2>
    </div>

    <div class="row w-100 mb-5 mt-2">
        <div class="w-100 mt-3 rounded pt-4 pb-0 pl-5" id="collapseFilters">
            <div class="row">
                <div class="col-lg pt-2 pb-2">
                    <div class="row">
                        <div class="col-sm-3 pt-1">
                            Ratings:
                        </div>
                        <div class="col-sm-6 pt-1">
                            <span class="" id="rating-slider">
                                <input id="range-2-1" type="range" min="0" max="100" value="30">
                                <input id="range-2-2" type="range" min="0" max="100" value="30">
                                <input type="hidden" id="first-star-filter">
                                <input type="hidden" id="second-star-filter">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg pt-1 pb-2">
                    <div class="row">
                        <div class="col-sm-3 pt-2">
                            Genre:
                        </div>
                        <div class="col-sm-6 pt-1">
                            <span class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    11 selected
                                </button>
                                <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                                    {% for genre in genres %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="genre-{{ genre.name }}" value="{{ genre.value }}" id="genre-{{ genre.name }}">
                                            <label class="form-check-label" for="genre-{{ genre.name }}">
                                                {{ genre.value }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg pt-1 pb-2">
                    <div class="row">
                        <div class="col-sm-3 pt-2">
                            Sort By:
                        </div>
                        <div class="col-sm-6 pt-1">
                            <select class="btn btn-light " id="drop-sort">
                                <option value="sort_alpha" selected>Alphabetical</option>
                                <option value="sort_rating">Highest Rates</option>
                                <option value="sort_new">Newest</option>
                            </select>
                            <span>
                                <input type="hidden" id="sort">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg pt-2 pb-4">
                    <div class="row">
                        <div class="col-sm-3 pt-1">
                            Show:
                        </div>
                        <div class="col-sm-6 pt-0">
                            <select class="btn btn-light mr-2" id="drop-num-results">
                                <option value="16" selected>16</option>
                                <option value="32">32</option>
                                <option value="64">64</option>
                            </select>
                            results
                            <span>
                                <input type="hidden" id="num-results">
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row mb-5 w-100">
        {% for movie in movies %}
            <div class="col-lg details-related-col">
                <a href="{% url 'mobi:details' movie.id %}">
                    <div class="row">
                        <span class="details-related-col-badge">{{ movie.review__rating__avg|floatformat:"1" }} / 5.0 </span>
                        <img src="{{ movie.poster.url }}" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> {{ movie.title }} <span class="font-weight-light"> ({{ movie.release_date.year }}) </span> </p>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% comment %} <div class="col-lg details-related-col">
            <a href="details.html">
                <div class="row">
                    <span class="details-related-col-badge">3.5 / 5.0 </span>
                    <img src="poster.jpg" class="details-related-img">
                </div>
                <div class="row mt-3 details-related-text">
                    <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                        Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                </div>
            </a>
        </div> {% endcomment %}
    </div>
</div>


<div class="row details-content-margin mb-5">
    <nav class="w-100">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

{% endblock body %}