{% extends 'base.html' %}

{% block title %}
Movie Title
{% endblock title %}

{% block nav-type %}nav-bar{% endblock nav-type %}

{% block custom-nav %}nav-account-hide{% endblock custom-nav %}

{% block home-active %}{% endblock home-active %}

{% block catalog-active %}{% endblock catalog-active %}

{% block body %}
<div class="details-background" style="background-image: url('bg.jpg')">
</div>
<div id="movie-details" class="row details w-100 details-margin">
    <div class="row w-100">
        <div class="col scene_element">
            <h1 class="text-uppercase font-weight-bolder"> Wonder Woman <a href="editmovie.html">
                    <span class="fa fa-edit button-inactive ml-2 edit-movie-btn"></span></a>
            </h1>
        </div>
    </div>
    <div class="row w-100 mb-4">
        <div class="col">
            <p class="text-uppercase letter-spacing"> action, adventure, fantasy • 2hr 3min • 2017 • <span
                    class="badge badge-secondary">PG-13</span>
            </p>
        </div>
    </div>
    <div class="row w-100 mb-5">
        <div class="col-lg-2">
            <button type="button" class="w-100 mt-5 btn btn-primary text-uppercase p-3 details-buttons"
                data-toggle="modal" data-target="#watch-now-modal">watch
                now
            </button>
            <div class="modal fade bd-example-modal-lg" id="watch-now-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-5 modal-body">
                            <h5 class="modal-title text-center" id="exampleModalLabel"> Watch <span
                                    class="font-weight-bold">
                                    Wonder Woman (2017) </span></h5>
                            <div class="row mt-5">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-light w-100">Amazon</button>
                                </div>
                                <div class="col">

                                    <button type="button" class="btn btn-outline-light w-100">Goolge
                                        Play</button>
                                </div>
                                <div class="col">

                                    <button type="button" class="btn btn-outline-light w-100">iTunes</button>
                                </div>
                                <div class="col">

                                    <button type="button" class="btn btn-outline-light w-100">Netflix</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-2">
            <button type="button"
                class="w-100 mt-5 btn btn-secondary text-uppercase p-3 details-buttons">trailer</button>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-lg-5 mr-5 mt-5">
            <p class="text-uppercase letter-spacing"> synopsis </p>
            <p class="text-justify"> An Amazon princess (Gal Gadot) finds her idyllic life on an island
                occupied only by female warriors
                interrupted when a pilot (Chris Pine) crash-lands nearby. After rescuing him, she learns that
                World
                War I is engulfing the planet, and vows to use her superpowers to restore peace. Directed by
                Patty
                Jenkins (Monster). </p>
        </div>
        <div class="col-lg-5 mt-5">
            <p class="text-uppercase letter-spacing"> directed by </p>
            <p class="text-uppercase font-weight-bold w-100 mb-5"> Patty Jenkins </p>
            <p class="text-uppercase letter-spacing w-100 mb-2"> posted by </p>

            <a href="user.html">
                <div class="media details-profile-hover">
                    <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                        class="align-self-center mr-3 details-profile-img">
                    <div class="media-body">
                        <p class="text-uppercase font-weight-bold w-100 align-self-center mt-3"> Patty Jenkins
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="row details-content-margin w-100">
    <div class="row w-100 mb-5">
        <p class="text-uppercase letter-spacing"> starring </p>
    </div>
    <div class="row mb-5">
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
    </div>
</div>

<div class="row details-content-margin mt-5">
    <div class="row w-100 mb-4">
        <p class="text-uppercase letter-spacing"> reviews </p>
    </div>

    <div class="row w-100 mb-5">
        <div class="col-lg-6">
            <div class="row mb-5 text-uppercase letter-spacing">
                Summary
            </div>
            <div class="row">
                <div class="col-lg-1 mr-5">
                </div>
                <div class="col-lg-9 mt-2">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="col-lg-2 mt-n2 mr-5 ml-n4">
                                <p class="font-weight-bolder details-review-rating mt-0"> 4.7 </p>
                            </div>
                        </div>
                        <div class="col-lg-5 mt-5">
                            <div class="row">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="row mt-3">
                                <p class="w-100 text-muted"> 18,204 reviews </p>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 mb-4">
                        <div class="col-lg-9">
                            <p class="text-uppercase w-100 text-center letter-spacing"> write a review </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 p-0">
                            <form class="w-100">
                                <div class="form-group text-center mb-4">
                                    <h1 id="write-review-star-group">
                                        <span id="write-review-star1" class="fa fa-star"></span>
                                        <span id="write-review-star2" class="fa fa-star"></span>
                                        <span id="write-review-star3" class="fa fa-star"></span>
                                        <span id="write-review-star4" class="fa fa-star"></span>
                                        <span id="write-review-star5" class="fa fa-star"></span></h1>
                                </div>
                                <div class="form-group mb-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row mb-5 text-uppercase letter-spacing">
                Top Reviews
            </div>
            <ul class="list-unstyled mt-3">
                <li class="media mb-5">
                    <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                        class="details-starring-img mr-5">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> Claudia Puig </h5>
                        <div class="row ml-0 mt-2 mb-2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        As befitting the genre, Wonder Woman is heroic and spirited. The fighting sequences are
                        spectacular, and the story is engrossing, uplifting and fun. There's even a bit of
                        romance and humor amid all the action. [Full review in Japanese]
                    </div>
                </li>
                <li class="media mb-5">
                    <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                        class="details-starring-img mr-5">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> Richard Brody </h5>
                        <div class="row ml-0 mt-2 mb-2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        "Wonder Woman" is a superhero movie, and it fulfills the heroic and mythic demands of
                        that genre, but it's also an entry in the genre of wisdom literature that shares
                        hard-won insights and long-pondered paradoxes of the past with a sincere intimacy.
                    </div>
                </li>
                <li class="media mb-5">
                    <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                        class="details-starring-img mr-5">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> Claudia Puig </h5>
                        <div class="row ml-0 mt-2 mb-2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        As befitting the genre, Wonder Woman is heroic and spirited. The fighting sequences are
                        spectacular, and the story is engrossing, uplifting and fun. There's even a bit of
                        romance and humor amid all the action. [Full review in Japanese]
                    </div>
                </li>
                <li class="media mb-5">
                    <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                        class="details-starring-img mr-5">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> Richard Brody </h5>
                        <div class="row ml-0 mt-2 mb-2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        "Wonder Woman" is a superhero movie, and it fulfills the heroic and mythic demands of
                        that genre, but it's also an entry in the genre of wisdom literature that shares
                        hard-won insights and long-pondered paradoxes of the past with a sincere intimacy.
                    </div>
                </li>
            </ul>

            <a href="" class="nav-link" data-toggle="modal" data-target="#details-review-modal">
                <p class="text-right"> View all Reviews &gt </p>
            </a>
            <div class="modal fade bd-example-modal-lg" id="details-review-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-5 modal-body details-reviews-area">
                            <h5 class="modal-title pr-3 mt-3" id="exampleModalLabel"> Reviews for
                                <span class="font-weight-bold"> Wonder Woman (2017) </span>
                                <span class="reviews-dropdown ">
                                    <div class="dropdown">
                                        <select class="btn btn-light ml-3 ">
                                            <option value="sort_rating" selected>Highest Rated</option>
                                            <option value="sort_new">Newest</option>
                                        </select>
                                    </div>
                                </span>
                            </h5>
                            <div class="row w-100 mt-5 pl-4 pr-4 details-reviews-little">
                                <ul class="list-unstyled">
                                    <li class="media mb-4">
                                        <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                                            class="details-reviews-img mr-5">
                                        <div class="media-body details-reviews-body">
                                            <h5 class="mt-0 mb-1 details-reviews-title"> Claudia Puig </h5>
                                            <div class="row ml-0 mt-2 mb-2">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            As befitting the genre, Wonder Woman is heroic and spirited. The
                                            fighting sequences are
                                            spectacular, and the story is engrossing, uplifting and fun.
                                            There's even a bit of
                                            romance and humor amid all the action. [Full review in Japanese]
                                        </div>
                                    </li>
                                    <li class="media mb-4">
                                        <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                                            class="details-reviews-img mr-5">
                                        <div class="media-body details-reviews-body">
                                            <h5 class="mt-0 mb-1 details-reviews-title"> Claudia Puig </h5>
                                            <div class="row ml-0 mt-2 mb-2">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            As befitting the genre, Wonder Woman is heroic and spirited. The
                                            fighting sequences are
                                            spectacular, and the story is engrossing, uplifting and fun.
                                            There's even a bit of
                                            romance and humor amid all the action. [Full review in Japanese]
                                        </div>
                                    </li>
                                    <li class="media mb-4">
                                        <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                                            class="details-reviews-img mr-5">
                                        <div class="media-body details-reviews-body">
                                            <h5 class="mt-0 mb-1 details-reviews-title"> Claudia Puig </h5>
                                            <div class="row ml-0 mt-2 mb-2">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            As befitting the genre, Wonder Woman is heroic and spirited. The
                                            fighting sequences are
                                            spectacular, and the story is engrossing, uplifting and fun.
                                            There's even a bit of
                                            romance and humor amid all the action. [Full review in Japanese]
                                        </div>
                                    </li>
                                    <li class="media mb-4">
                                        <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                                            class="details-reviews-img mr-5">
                                        <div class="media-body details-reviews-body">
                                            <h5 class="mt-0 mb-1 details-reviews-title"> Claudia Puig </h5>
                                            <div class="row ml-0 mt-2 mb-2">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            As befitting the genre, Wonder Woman is heroic and spirited. The
                                            fighting sequences are
                                            spectacular, and the story is engrossing, uplifting and fun.
                                            There's even a bit of
                                            romance and humor amid all the action. [Full review in Japanese]
                                        </div>
                                    </li>
                                    <li class="media mb-4">
                                        <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                                            class="details-reviews-img mr-5">
                                        <div class="media-body details-reviews-body">
                                            <h5 class="mt-0 mb-1 details-reviews-title"> Claudia Puig </h5>
                                            <div class="row ml-0 mt-2 mb-2">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            As befitting the genre, Wonder Woman is heroic and spirited. The
                                            fighting sequences are
                                            spectacular, and the story is engrossing, uplifting and fun.
                                            There's even a bit of
                                            romance and humor amid all the action. [Full review in Japanese]
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row details-content-margin mt-5 mb-5">
    <div class="row w-100 mb-4">
        <p class="text-uppercase letter-spacing mt-5 mb-5"> trending </p>
    </div>
    <div id="scrollId" class="scroll-container mb-5">
        <div class="row">
            <div class="col-lg details-related-col">

                <a href="details.html">
                    <div class="row">
                        <span class="details-related-col-badge">3.5 / 5.0 </span>
                        <img src="poster.jpg" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                            Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                    </div>
                </a>
            </div>
            <div class="col-lg details-related-col">

                <a href="details.html">
                    <div class="row">
                        <span class="details-related-col-badge">3.5 / 5.0 </span>
                        <img src="poster.jpg" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                            Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                    </div>
                </a>
            </div>
            <div class="col-lg details-related-col">

                <a href="details.html">
                    <div class="row">
                        <span class="details-related-col-badge">3.5 / 5.0 </span>
                        <img src="poster.jpg" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                            Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                    </div>
                </a>
            </div>
            <div class="col-lg details-related-col">
                <a href="details.html">
                    <div class="row">
                        <span class="details-related-col-badge">3.5 / 5.0 </span>
                        <img src="poster.jpg" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                            Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                    </div>
                </a>
            </div>
            <div class="col-lg details-related-col">
                <a href="details.html">
                    <div class="row">
                        <span class="details-related-col-badge">3.5 / 5.0 </span>
                        <img src="poster.jpg" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                            Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                    </div>
                </a>
            </div>
            <div class="col-lg details-related-col">
                <a href="details.html">
                    <div class="row">
                        <span class="details-related-col-badge">3.5 / 5.0 </span>
                        <img src="poster.jpg" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                            Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                    </div>
                </a>
            </div>
            <div class="col-lg details-related-col">
                <a href="details.html">
                    <div class="row">
                        <span class="details-related-col-badge">3.5 / 5.0 </span>
                        <img src="poster.jpg" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Harry Potter and the
                            Sorcerer's Stone <span class="font-weight-light"> (2017) </span> </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

</div>
{% endblock body %}