{% extends 'base.html' %}

{% block title %}
Movie Title | {{ movie.title }}
{% endblock title %}

{% block nav-type %}nav-bar{% endblock nav-type %}

{% block custom-nav %}
    {% if user_logged %} 
        nav-login-hide
    {% else %}
        nav-account-hide
    {% endif %}
{% endblock custom-nav %}

{% block home-active %}{% endblock home-active %}

{% block catalog-active %}{% endblock catalog-active %}

{% block body %}
<div class="details-background" style="background-image: url('{{ movie.background.url }}')">
</div>
<div id="movie-details" class="row details w-100 details-margin">
    <div class="row w-50">
        <div class="col scene_element">
            <h1 class="text-uppercase font-weight-bolder"> {{ movie.title }} 
                    {% if username == movie.posted_by.username %}
                        <a href="{% url 'mobi:edit_post' movie.id %}">
                            <span class="fa fa-edit button-inactive ml-2 edit-movie-btn"></span>
                        </a>
                    {% endif %}
            </h1>
        </div>
    </div>
    <div class="row w-100 mb-4">
        <div class="col">
            <p class="text-uppercase letter-spacing">
                {% for gen in movie.genres.all %}
                {% if forloop.last %}
                {{ gen }}
                {% else %}
                {{ gen }},
                {% endif %}
                {% endfor %} • {{ movie.duration }} min • {{ movie.release_date.year }} • <span
                    class="badge badge-secondary">{{ movie.restriction }}</span>
            </p>
        </div>
    </div>
    <div class="row w-100 mb-5">
        <div class="col-lg-2">
            <button type="button" class="w-100 mt-5 btn btn-primary text-uppercase p-3 details-buttons"
                data-toggle="modal" data-target="#watch-now-modal">watch
                now
            </button>
            <div class="modal fade bd-example-modal-lg" id="watch-now-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-5 modal-body">
                            <h5 class="modal-title text-center" id="exampleModalLabel"> Watch <span
                                    class="font-weight-bold">
                                    {{ movie.title }} ({{ movie.release_date.year }}) </span></h5>
                            <div class="row mt-5">
                                <div class="col">
                                    <a>
                                        <button type="button" class="btn btn-outline-light w-100">Amazon</button>
                                    </a></div>
                                <div class="col">
                                    <a>
                                        <button type="button" class="btn btn-outline-light w-100">Goolge
                                            Play</button>
                                    </a></div>
                                <div class="col">
                                    <a>
                                        <button type="button" class="btn btn-outline-light w-100">iTunes</button>
                                    </a></div>
                                <div class="col">
                                    <a>
                                        <button type="button" class="btn btn-outline-light w-100">Netflix</button>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-2">
            <a href="{{ movie.trailer }}"><button type="button"
                    class="w-100 mt-5 btn btn-secondary text-uppercase p-3 details-buttons">trailer</button></a>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-lg-5 mr-5 mt-5">
            <p class="text-uppercase letter-spacing"> synopsis </p>
            <p class="text-justify"> {{ movie.synopsis }} </p>
        </div>
        <div class="col-lg-5 mt-5">
            <p class="text-uppercase letter-spacing"> directed by </p>
            <p class="text-uppercase font-weight-bold w-100 mb-5"> {{ movie.director }} </p>
            <p class="text-uppercase letter-spacing w-100 mb-2"> posted by </p>

            <a href="{% url 'mobi:user' movie.posted_by.username %}">
                <div class="media details-profile-hover">
                    <img src="{{ movie.posted_by.display_pic.url }}" class="align-self-center mr-3 details-profile-img">
                    <div class="media-body">
                        <p class="text-uppercase font-weight-bold w-100 align-self-center mt-3">
                            {{ movie.posted_by.username }}
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="row details-content-margin w-100">
    <div class="row w-100 mb-5">
        <p class="text-uppercase letter-spacing"> starring </p>
    </div>
    <div class="row mb-5">
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
        <div class="col details-starring-col">
            <div class="row">
                <img src="http://onehundreddates.com/wp-content/uploads/2014/03/Random-Person-Date-1.jpg"
                    class="details-starring-img">
            </div>
            <div class="row mt-3 details-starring-text">
                <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> Patty Jenkins </p>
            </div>
            <div class="row mt-0 details-starring-text">
                <p class="text-uppercase w-100 text-center text-muted"> 17 movies </p>
            </div>
        </div>
    </div>
</div>

<div class="row details-content-margin mt-5">
    <div class="row w-100 mb-4">
        <p class="text-uppercase letter-spacing"> reviews </p>
    </div>

    <div class="row w-100 mb-5">
        <div class="col-lg-6">
            <div class="row mb-5 text-uppercase letter-spacing">
                Summary 
            </div>
            <div class="row">
                <div class="col-lg-1 mr-5">
                </div>
                <div class="col-lg-9 mt-2">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="col-lg-2 mt-n2 mr-5 ml-n4">
                                <p class="font-weight-bolder details-review-rating mt-0">
                                    4.0 </p>
                            </div>
                        </div>
                        <div class="col-lg-5 mt-5">
                            <div class="row">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="row mt-3">
                                <p class="w-100 text-muted"> 18,204 reviews </p>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4 p-0">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-lg-5 p-0">
                            <div class="progress mt-1">
                                <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 mb-4">
                        <div class="col-lg-9">
                            <p class="text-uppercase w-100 text-center letter-spacing"> write a review </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 p-0">
                            <form class="w-100">
                                <div class="form-group text-center mb-4">
                                    <h1 id="write-review-star-group">
                                        <span id="write-review-star1" class="fa fa-star"></span>
                                        <span id="write-review-star2" class="fa fa-star"></span>
                                        <span id="write-review-star3" class="fa fa-star"></span>
                                        <span id="write-review-star4" class="fa fa-star"></span>
                                        <span id="write-review-star5" class="fa fa-star"></span></h1>
                                </div>
                                <div class="form-group mb-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row mb-5 text-uppercase letter-spacing">
                Top Reviews
            </div>
            <ul class="list-unstyled mt-3">
                {% for review in reviews %}
                    <li class="media mb-5">
                        <img src="{{ review.reviewer.display_pic.url }} "
                            class="details-starring-img mr-5">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"> {{ review.reviewer.username }} </h5>
                            <div class="row ml-0 mt-2 mb-2">
                                <span class="fa fa-star {% if review.rating >= 1 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if review.rating >= 2 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if review.rating >= 3 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if review.rating >= 4 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if review.rating >= 5 %} checked {% endif %}"></span>
                            </div>
                            {{ review.comment }}
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <a href="" class="nav-link" data-toggle="modal" data-target="#details-review-modal">
                <p class="text-right"> View all Reviews &gt </p>
            </a>
            <div class="modal fade bd-example-modal-lg" id="details-review-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-5 modal-body details-reviews-area">
                            <h5 class="modal-title pr-3 mt-3" id="exampleModalLabel"> Reviews for
                                <span class="font-weight-bold"> {{ movie.title }} ({{ movie.release_date.year }})
                                </span>
                                <span class="reviews-dropdown ">
                                    <div class="dropdown">
                                        <select class="btn btn-light ml-3 ">
                                            <option value="sort_rating" selected>Highest Rated</option>
                                            <option value="sort_new">Newest</option>
                                        </select>
                                    </div>
                                </span>
                            </h5>
                            <div class="row w-100 mt-5 pl-4 pr-4 details-reviews-little">
                                <ul class="list-unstyled">
                                    {% for review in reviews %}
                                        <li class="media mb-5">
                                            <img src="{{ review.reviewer.display_pic.url }} "
                                                class="details-starring-img mr-5">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1"> {{ review.reviewer.username }} </h5>
                                                <div class="row ml-0 mt-2 mb-2">
                                                    <span class="fa fa-star {% if review.rating >= 1 %} checked {% endif %}"></span>
                                                    <span class="fa fa-star {% if review.rating >= 2 %} checked {% endif %}"></span>
                                                    <span class="fa fa-star {% if review.rating >= 3 %} checked {% endif %}"></span>
                                                    <span class="fa fa-star {% if review.rating >= 4 %} checked {% endif %}"></span>
                                                    <span class="fa fa-star {% if review.rating >= 5 %} checked {% endif %}"></span>
                                                </div>
                                                {{ review.comment }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row details-content-margin mt-5 mb-5">
    <div class="row w-100 mb-4">
        <p class="text-uppercase letter-spacing mt-5 mb-5"> trending </p>
    </div>
    <div id="scrollId" class="scroll-container mb-5">
        <div class="row">
            {% for trend in trending %}
            <div class="col-lg-3 details-related-col">
                <a href="{% url 'mobi:details' trend.id %}">
                    <div class="row">
                        <span class="details-related-col-badge"> {{ trend.review__rating__avg|floatformat:"1" }}  / 5.0
                        </span>
                        <img src="{{ trend.poster.url }}" class="details-related-img">
                    </div>
                    <div class="row mt-3 details-related-text">
                        <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> {{ trend.title }} <span
                                class="font-weight-light"> ({{ trend.release_date.year }}) </span> </p>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
</div>

{% endblock body %}