{% extends 'base.html' %}

{% block title %}
Moby Reviews
{% endblock title %}

{% block nav-type %}nav-bar{% endblock nav-type %}

{% block custom-nav %}nav-login-hide{% endblock custom-nav %}

{% block home-active %}active-tab{% endblock home-active %}

{% block catalog-active %}{% endblock catalog-active %}

{% block body %}
<div class="row details-content-margin">
    <div class="row w-100 container-margin-top">
        <h2 class="mt-5 font-weight-light"> Edit Profile </h2>
    </div>
</div>
</div>
{% endblock body %}