{% extends 'base.html' %}

{% block title %}
Moby Reviews | Edit Movie
{% endblock title %}

{% block nav-type %}nav-bar{% endblock nav-type %}

{% block custom-nav %}
    {% if user_logged %} 
        nav-login-hide
    {% else %}
        nav-account-hide
    {% endif %}
{% endblock custom-nav %}

{% block home-active %}{% endblock home-active %}

{% block catalog-active %}{% endblock catalog-active %}

{% load crispy_forms_tags %}

{% block body %}
<div class="row details-content-margin">
        {% if movie.posted_by.username == username %}
        <div class="row w-100 container-margin-top">
                        <div class="row w-100 mt-5 text-center ">
                                <h2 class="mt-5 font-weight-light center-text"> Edit "{{ form.title.value }}" </h2>
                        </div>
                        <div class="row w-100 mt-2 text-center ">
                                <p class="font-weight-bold center-text"> Change necessary details below. </p>
                                </div>
                    <form class="w-100 mt-5" action="{% url 'mobi:edit_post' form.instance.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form|crispy }}
                        
                        <input type="submit" class="btn btn-primary w-100 mt-5 mb-5 p-3" value="Update">
                    </form>
                </div>
        {% else %}
        <div class="error-text row w-100 h-100 container-margin-top">
                        <h1> You don't have permission to edit this movie =( </h1>
                </div>
        {% endif %}
</div>
</div>
{% endblock body %}