{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}
Moby Reviews | {{ user.username }}
{% endblock title %}

{% block nav-type %}nav-bar-normal{% endblock nav-type %}

{% block custom-nav %}
{% if user_logged %}
nav-login-hide
{% else %}
nav-account-hide
{% endif %}
{% endblock custom-nav %}

{% block home-active %}{% endblock home-active %}

{% block catalog-active %}{% endblock catalog-active %}

{% block body %}
<div class="row details-content-margin w-100">
    <div class="row w-100 container-margin-top">
        <div id="profile-info" class="media mt-5">
            <img src="{% if user_logged %} {{ user_pic.url }} {% endif %}"
                class="align-self-center mr-5 user-profile-img">
            <div class="media-body">
                <h2 class="mt-2 font-weight-bold text-uppercase letter-spacing">
                    {{ user.username }}
                    {% if user_logged %}
                        {% if user.username == username %}
                        <a href="{% url 'mobi:edit_user' user.username %}"><span
                                class="fa fa-edit button-inactive ml-2 edit-profile-btn"></span></a>
                        {% endif %}
                    {% endif %}
                </h2>
                {{ user.description }}
            </div>
        </div>
    </div>

    <div class="row w-100">
        <nav>
            <div class="nav nav-tabs mt-5" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-user-reviews"
                    role="tab" aria-controls="nav-home" aria-selected="true"><span class="user-tab"> My Reviews <span
                            class="font-weight-lighter"> ({{ user.review__count }})
                        </span> </span></a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-user-movies" role="tab"
                    aria-controls="nav-profile" aria-selected="false"><span class="user-tab"> My Movies <span
                            class="font-weight-lighter">
                            ({{ user.movie__count }}) </span> </span></a>
            </div>
        </nav>
    </div>


    <div class="tab-content w-100" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-user-reviews" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row w-100 mb-5 mt-5">
                <div class="w-100 mt-3 rounded pt-4 pb-0 pl-5" id="collapseFilters">
                    <div class="row">
                        <div class="col-lg pt-2 pb-2">
                            <div class="row">
                                <div class="col-sm-3 pt-1">
                                    Ratings:
                                </div>
                                <div class="col-sm-6 pt-1">
                                    <span class="">
                                        <input id="range-2-1" type="range" min="0" max="100" value="30">
                                        <input id="range-2-2" type="range" min="0" max="100" value="30">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg pt-1 pb-2">
                            <div class="row">
                                <div class="col-sm-3 pt-2">
                                    Status:
                                </div>
                                <div class="col-sm-6 pt-1">
                                    <select class="btn btn-light ">
                                        <option value="sort_rating" selected>Active</option>
                                        <option value="sort_new">Archived</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg pt-1 pb-2">
                            <div class="row">
                                <div class="col-sm-3 pt-2">
                                    Sort By:
                                </div>
                                <div class="col-sm-6 pt-1">
                                    <select class="btn btn-light ">
                                        <option value="sort_rating" selected>Highest Rated</option>
                                        <option value="sort_new">Newest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg pt-2 pb-4">
                            <div class="row">
                                <div class="col-sm-3 pt-1">
                                    Show:
                                </div>
                                <div class="col-sm-6 pt-0">
                                    <select class="btn btn-light mr-2">
                                        <option value="16" selected>16</option>
                                        <option value="32">32</option>
                                        <option value="64">64</option>
                                    </select>
                                    results
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="user-reviews-table" class="row table-responsive mb-5">
                <table class="table text-light table-striped table-borderless table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 20%">Rating</th>
                            <th scope="col" style="width: 20%">Title | Year</th>
                            <th scope="col" style="width: 50%">Review</th>
                            {% if user.username == username %}
                            <th scope="col" style="width: 10%"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                        <tr>
                            <th scope="row">
                                <span class="mr-3">
                                    {{ review.rating|floatformat:"1" }} / 5.0
                                </span>
                                <span>
                                    {% for star in star|rjust:5 %}
                                    {% if forloop.counter <= review.rating %}
                                    <span class="fa fa-star checked"></span>
                                    {% else %}
                                    <span class="fa fa-star"></span>
                                    {% endif %}
                                    {% endfor %}
                                </span>

                            </th>
                            <td>{{ review.movie }} ({{ review.movie.release_date.year }})</td>
                            <td> {{ review.comment }} </td>
                            {% if user.username == username %}
                            <td class="user-reviews-actions">
                                <span class="fa fa-edit button-inactive mr-4" onclick="showEditReview(0)"></span>
                                <span class="fa fa-trash button-inactive mr-2" onclick="archiveReview(0)"></span>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="modal fade bd-example-modal-lg" id="edit-review-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body pt-5 pr-5 pl-5 pb-0 modal-body">
                            <h5 class="modal-title text-center font-weight-light" id="exampleModalLabel"> Edit review
                                for <span class="font-weight-bold">
                                    Wonder Woman (2017) </span></h5>
                            <div class="row mt-5">
                                <div class="col-lg-12 p-0">
                                    <form class="w-100">
                                        <div class="form-group text-center mb-4">
                                            <h1 id="write-review-star-group">
                                                <span id="write-review-star1" class="fa fa-star"></span>
                                                <span id="write-review-star2" class="fa fa-star"></span>
                                                <span id="write-review-star3" class="fa fa-star"></span>
                                                <span id="write-review-star4" class="fa fa-star"></span>
                                                <span id="write-review-star5" class="fa fa-star"></span></h1>
                                        </div>
                                        <div class="form-group mb-4 mt-5">
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                rows="7"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-secondary w-100 mr-3"
                                                data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary w-100">Save</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row w-100 mb-5">
                <nav class="w-100">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>




        </div>



        <div class="tab-pane fade" id="nav-user-movies" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row w-100 mb-5 mt-5">
                <div class="w-100 mt-3 rounded pt-4 pb-0 pl-5" id="collapseFilters">
                    <div class="row">
                        <div class="col-lg pt-2 pb-2">
                            <div class="row">
                                <div class="col-sm-3 mr-3 pt-1">
                                    Ratings:
                                </div>
                                <div class="col-sm-6 pt-1">
                                    <span class="">
                                        <input id="range-2-1a" type="range" min="0" max="100" value="30">
                                        <input id="range-2-2a" type="range" min="0" max="100" value="30">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg pt-1 pb-2">
                            <div class="row">
                                <div class="col-sm-3 pt-2">
                                    Status:
                                </div>
                                <div class="col-sm-7 pt-1">
                                    <select class="btn btn-light ">
                                        <option value="sort_rating" selected>Active</option>
                                        <option value="sort_new">Archived</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg pt-1 pb-2">
                            <div class="row">
                                <div class="col-sm-3 pt-2">
                                    Genre:
                                </div>
                                <div class="col-sm-7 pt-1">
                                    <span class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            11 selected
                                        </button>
                                        <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                                            {% for genre in genres %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                    name="genre-{{ genre.name }}" value="{{ genre.value }}"
                                                    id="genre-{{ genre.name }}">
                                                <label class="form-check-label" for="genre-{{ genre.name }}">
                                                    {{ genre.value }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg pt-1 pb-2">
                            <div class="row">
                                <div class="col-sm-3 pt-2">
                                    Sort:
                                </div>
                                <div class="col-sm-7 pt-1">
                                    <select class="btn btn-light ">
                                        <option value="sort_alpha" selected>Alphabetical</option>
                                        <option value="sort_rating">Highest Rates</option>
                                        <option value="sort_new">Newest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg pt-2 pb-4">
                            <div class="row">
                                <div class="col-sm-3 pt-1">
                                    Show:
                                </div>
                                <div class="col-sm-7 pt-0">
                                    <select class="btn btn-light mr-2">
                                        <option value="16" selected>16</option>
                                        <option value="32">32</option>
                                        <option value="64">64</option>
                                    </select>
                                    results
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-5 w-100">
                <div class="col-lg details-related-col">
                    <a href="{% url 'mobi:post' %}">
                        <div class="row mb-0 text-center">
                            <span class="details-related-add  fa mb-0 mt-4 fa-plus-square"></span>
                        </div>
                        <div class="row mt-5 details-related-text">
                            <p class="text-uppercase font-weight-light w-100 text-center mb-1"> Add new movie </p>
                        </div>
                    </a>
                </div>
                {% for movie in movies %}
                <div class="col-lg details-related-col">
                    <a href="{% url 'mobi:details' movie.id %}">
                        <div class="row">
                            <span class="details-related-col-badge">{{ movie.review__rating__avg|floatformat:"1" }} /
                                5.0 </span>
                            <img src="{{ movie.poster.url }}" class="details-related-img">
                        </div>
                        <div class="row mt-3 details-related-text">
                            <p class="text-uppercase font-weight-bold w-100 text-center mb-1"> {{ movie.title }} <span
                                    class="font-weight-light"> ({{ movie.release_date.year }}) </span> </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="row w-100 mb-5">
                <nav class="w-100">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



</div>
{% endblock body %}